::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-left: thin solid var(--colour_0);
}
::-webkit-scrollbar-track {
	background-color: var(--colour_1);
}
::-webkit-scrollbar-thumb {
	background-color: var(--colour_success);
}
