@use "@/assets/layout.scss";

#iterable {
	position: fixed;
	top: layout.$querybox-height + layout.$titlebar-height;
	right: 0px;
	bottom: layout.$taskbar-height;
	left: layout.$treeview-width;
	#scroll_area {
		position: absolute;
		right: 10px;
		left: 0px;
		background-color: layout.$scheme-2;
		height: 100%;
		overflow: hidden;
		#process {
			position: relative;
			margin: 10px;
			height: 150px;
			overflow: hidden;
			&, * {
				transition: color 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
				will-change: color, border-color;
			}
			&:hover,
			&:hover * {
				border-color: layout.$scheme-5;
				color: layout.$scheme-9;
			}
			&.none {
				// TODO: none
			}
			&.finished {
				background-color: layout.$success;
			}
			&.working {
				// TODO: none
			}
			&.queued {
				background-color: layout.$warning;
			}
			&.paused {
				background-color: layout.$warning;
			}
			&.error {
				background-color: layout.$error;
			}
			&.highlight {
				border-color: layout.$scheme-6;
			}
		}
		#title {
			margin: 0px 0px 0px 10px;
			border-width: 0px 0px 0px thin;
			background-color: layout.$scheme-2;
			height: 20px;
		}
		#wrapper {
			margin: 0px 0px 0px 10px;
			border-width: thin 0px 0px thin;
			background-color: layout.$scheme-3;
			height: 130px;
		}
		#thumbnail {
			margin: 8.5px;
			border-radius: 5px;
			background-color: layout.$scheme-2;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 200px;
			height: 110px;
		}
	}
	#scroll_track {
		position: fixed;
		top: layout.$titlebar-height;
		right: 0px;
		bottom: layout.$taskbar-height;
		border-width: 0px thin 0px thin;
		width: layout.$scrollbar-width;
		#scroll_metre {
			display: block;
			transition: background-color layout.$transition;
			background-color: layout.$scheme-2;
			width: 100%;
			will-change: background-color;
			&:nth-child(2n) {
				background-color: layout.$scheme-3;
			}
			&.highlight {
				background-color: layout.$success;
			}
		}
	}
}
