#iterable {
	position: absolute;
	height: 100%;
	right: 0px;
	left: var(--treeview-width);
}
#scroll_area {
	position: absolute;
	overflow: hidden;
	height: 100%;
	right: 10px;
	left: 0px;
	background-color: var(--scheme-2);
}
#process {
	position: relative;
	overflow: hidden;
	height: 150px;
	margin: 10px;
	background-color: var(--error);
	&.highlight {
		background-color: var(--sucess);
	}
	&::after {
		content:"";
		display: block;
		position: absolute;
		pointer-events: none;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: transparent;
		transition: background-color 250ms ease-in-out;
		will-change: background-color;
	}
	&:hover::after {
		background-color: rgba(255, 255, 255, 0.025);
	}
}
#title {
	height: 20px;
	margin: 0px 0px 0px 10px;
	border-width: 0px 0px 0px thin;
	background-color: var(--scheme-2);
}
#wrapper {
	height: 130px;
	margin: 0px 0px 0px 10px;
	border-width: thin 0px 0px thin;
	background-color: var(--scheme-3);
}
#thumbnail {
	width: 200px;
	height: 110px;
	margin: 10px;
	border-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--scheme-2);
	box-sizing: border-box;
}
#scroll_track {
	position: absolute;
	width: 10px;
	height: 100%;
	top: 0px;
	right: 0px;
}
#scroll_metre {
	display: block;
	width: 10px;
	height: 10%;
	background-color: var(--scheme-2);
	transition: background-color var(--transition);
	will-change: background-color;
	&:nth-child(2n) {
		background-color: var(--scheme-3);
	}
	&.highlight {
		background-color: var(--sucess);
	}
}