#titlebar {
	width: 100%;
	height: var(--titlebar-height);
	background-color: var(--scheme-1);
	#focus,
	#restore,
	#close {
		position: absolute;
		width: 45px;
		height: 100%;
		transition: background-color var(--transition);
		will-change: background-color;
		&:hover {
			background-color: var(--scheme-2);
		}
		> svg {
			position: absolute;
			width: 12.5px;
			height: 12.5px;
			fill: var(--scheme-9);
		}
	}
	#focus {
		right: 90px;
	}
	#restore {
		right: 45px;
	}
	#close {
		right: 0px;
		&:hover {
			background-color: var(--error);
		}
	}
}
