@use "@/assets/layout.scss";

#treeview {
	position: fixed;
	width: layout.$treeview-width;
	top: layout.$titlebar-height;
	bottom: layout.$taskbar-height;
	border-width: 0px thin 0px thin;
	background-color: layout.$scheme-1;
	#wrapper {
		height: 40px;
		border-width: 0px 0px thin 0px;
	}
	#favicon {
		float: left;
		margin: 5px;
		width: 30px;
		height: 30px;
		border-radius: 5px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	#hostname {
		float: left;
		height: 40px;
		display: flex;
		align-items: center;
		margin-left: 10px;
	}
}
