@use "@/assets/layout.scss";

#treeview {
	position: fixed;
	width: layout.$treeview-width;
	top: layout.$titlebar-height;
	bottom: layout.$taskbar-height;
	border-width: 0px thin 0px thin;
	background-color: layout.$scheme-1;
}
