#titlebar {
	width: 100%;
	height: var(--titlebar-height);
	background-color: var(--colour_1);
	> * {
		position: absolute;
		width: 45px;
		height: 100%;
		transition: background-color var(--transition);
		will-change: background-color;
		&:hover {
			background-color: var(--colour_2);
		}
		> svg {
			width: 11.5px;
			height: 11.5px;
			fill: var(--colour_9);
		}
	}
	> #focus {
		right: 90px;
	}
	> #restore {
		right: 45px;
	}
	> #close {
		right: 0px;
		&:hover {
			background-color: var(--colour_error);
		}
	}
}
