#iterable {
	display: grid;
	padding: 15px;
	grid-gap: 15px;
	grid-auto-rows: 475px;
	grid-template-columns: repeat(auto-fit, minmax(360px, auto));
	> #gallery {
		background-color: var(--colour_3);
		transition: border-color var(--transition);
		> #thumbnail {
			opacity: 50%;
			width: calc(100% - 10px * 2);
			height: calc(100% - 10px * 2);
			transition: opacity var(--transition), border-color var(--transition);
		}
		&:hover > #thumbnail {
			opacity: 100%;
		}
		&:hover,
		&:hover .contrast {
			border-color: var(--colour_9);
		}
	}
}
