[data-viewport="terminal"] {
	display: grid;
	grid-template-areas:
	"indexing history";
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	> #indexing {
		grid-area: indexing;
		border-width: 0px;
		border-right-width: thin;
		background-color: var(--colour_3);
		> legend {
			width: 25px;
			height: 25px;
			color: var(--colour_9);
		}
	}
	> #history {
		grid-area: history;
		> * {
			width: 100%;
			padding: 4px 10px 4px 10px;
			color: var(--colour_9);
			font-size: 15px;
		}
		> output {
			&.bold {
				font-weight: bold;
			}
			&.italic {
				font-style: italic;
			}
		}
		> input {
			font-style: italic;
			position: relative;
		}
	}
	&::-webkit-scrollbar-track {
		background-color: var(--colour_2);
	}
}
