#scrollbar {
	position: absolute;
	width: var(--scrollbar-width);
	top: 0px;
	right: 0px;
	bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	> #metre {
		display: block;
		width: 100%;
		background-color: var(--colour_2);
		transition: background-color var(--transition);
		will-change: background-color;
		&:nth-child(2n) {
			background-color: var(--colour_3);
		}
		&.highlight {
			background-color: var(--colour_success);
		}
	}	
}
