#titlebar {
	display: grid;
	grid-template-areas:
	". focus maximize close";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr auto auto auto;
	background-color: var(--colour_1);
	will-change: display;
	> * {
		width: 45px;
	}
	> #focus {
		grid-area: focus;
	}
	> #maximize {
		grid-area: maximize;
	}
	> #close {
		grid-area: close;
		&:hover {
			background-color: var(--colour_error);
		}
	}
	&:not(.visible) {
		display: none;
	}
}
