@import "./html/body.scss";
@import "./html/button.scss";
@import "./html/html.scss";
@import "./html/svg.scss";
@import "./query/selection.scss";
@import "./webkit/scrollbar.scss";
@import "./webkit/spin-button.scss";

:root {
	// colour(s)
	--colour_0: #070707;
	--colour_1: #111111;
	--colour_2: #1b1b1b;
	--colour_3: #252525;
	--colour_4: #2e2e2e;
	--colour_5: #383838;
	--colour_6: #424242;
	--colour_7: #4c4c4c;
	--colour_8: #565656;
	--colour_9: #5f5f5f;
	--colour_error: #ff505050;
	--colour_success: #99ff9950;
	--colour_warning: #ff990050;
	// common
	--transition: 250ms ease-in-out;
	// component(s)
	--titlebar_height: 30px;
	--paging_height: 30px;
}
* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	background: none;
	box-sizing: border-box;
}
// class(es)
.draggable {
	-webkit-app-region: drag;
}
.un_draggable {
	-webkit-app-region: no-drag;
}
.contrast {
	border-width: thin;
	border-style: solid;
	border-color: var(--colour_0);
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
#container {
	display: grid;
	grid-template-rows: var(--titlebar_height) 1fr var(--paging_height);
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"content"
	"footer";
	height: 100vh;
	width: 100vw;
	> #titlebar {
		grid-area: "header";
	}
	> #content {
		grid-area: content;
		overflow: hidden;
		> * {
			overflow-x: hidden;
			overflow-y: auto;
			width: 100%;
			height: 100%;
			border-top-width: 0px;
			border-bottom-width: 0px;
			background-color: var(--colour_2);
		}
	}
	> #paging {
		grid-area: "footer";
	}
}
