#paging {
	background-color: var(--colour_1);
	> * {
		height: 100%;
		width: 45px;
		&.active {
			color: var(--colour_success);
		}
		&.disable {
			pointer-events: none;
			> svg {
				fill: var(--colour_2);
			}
		}
	}
}
