// colours
$scheme-0: #080808;
$scheme-1: #111111;
$scheme-2: #222222;
$scheme-3: #333333;
$scheme-4: #444444;
$scheme-5: #555555;
$scheme-6: #9e9e9e;
$scheme-7: #b6b6b6;
$scheme-8: #cecece;
$scheme-9: #e6e6e6;
// status
$error: #ff5050;
$sucess: #99ff99;
$warning: #ff9900;
// common
$transition: 250ms ease-in-out;
// components
$querybox-height: 30px;
$titlebar-height: 30px;
$treeview-width: 150px;
$taskbar-height: 30px;
