#iterable {
	position: fixed;
	top: calc(var(--querybox-height) + var(--titlebar-height));
	right: var(--scrollbar-width);
	bottom: var(--taskbar-height);
	left: var(--treeview-width);
	background-color: var(--scheme-2);
	#scrollable {
		overflow: hidden;
		height: 100%;
	}
	#process {
		position: relative;
		overflow: hidden;
		height: 150px;
		margin: 10px;
		&, * {
			transition: color var(--transition), background-color var(--transition), border-color var(--transition);
			will-change: color, background-color, border-color;
		}
		&:hover,
		&:hover * {
			color: var(--scheme-9);
			border-color: var(--scheme-5);
		}
		&.none {
			// TODO: none
		}
		&.finished {
			background-color: var(--success);
		}
		&.working {
			// TODO: none
		}
		&.queued {
			background-color: var(--warning);
		}
		&.paused {
			background-color: var(--warning);
		}
		&.error {
			background-color: var(--error);
		}
		&.highlight {
			border-color: var(--scheme-6);
		}
	}
	#title {
		height: 20px;
		margin-left: 10px;
		padding-left: 10px;
		border-width: 0px;
		background-color: var(--scheme-2);
		border-left-width: var(--contrast);
	}
	#wrapper {
		position: relative;
		height: 130px;
		margin-left: 10px;
		background-color: var(--scheme-3);
		border-right-width: 0px;
		border-bottom-width: 0px;
	}
	#thumbnail {
		width: 200px;
		height: 110px;
		margin: 8.5px;
		border-radius: 5px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: var(--scheme-2);
	}
	#read, #open, #copy, #delete {
		width: 50px;
		height: 50px;
		margin: 38.5px 35px;
		float: right;
		> svg {
			width: 50px;
			height: 50px;
			fill: var(--scheme-2);
			transition: fill var(--transition);
			will-change: fill;
		}
		&:hover {
			> svg {
				fill: var(--scheme-1);
			}
		}
	}
}
