#querybox {
	position: fixed;
	height: var(--querybox-height);
	right: var(--scrollbar-width);
	left: var(--treeview-width);
	background-color: var(--scheme-2);
	#input {
		display: block;
		width: calc(100% - 10px * 2);
		height: calc(100% - 10px * 2);
		color: var(--scheme-6);
		font-size: medium;
		margin: 10px;
		padding: 10px;
		background-color: var(--scheme-3);
		transition: color var(--transition), border-color var(--transition);
		will-change: color, border-color;
		&:hover,
		&:focus {
			color: var(--scheme-8);
			border-color: var(--scheme-5);
		}
	}
}
