#treeview {
	position: fixed;
	width: var(--treeview-width);
	top: var(--titlebar-height);
	bottom: var(--taskbar-height);
	border-width: 0px var(--contrast);
	background-color: var(--scheme-1);
	#wrapper {
		height: 40px;
		border-width: 0px;
		border-bottom-width: var(--contrast);
	}
	#favicon {
		width: 30px;
		height: 30px;
		margin: 5px;
		border-radius: 5px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
	#hostname {
		display: flex;
		height: 40px;
		margin-left: 10px;
		float: left;
		align-items: center;
	}
}
