@use "@/assets/layout.scss";

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	caret-color: layout.$scheme-5;
	color: layout.$scheme-9;
	font-size: 13.5px;
	user-select: none;
}
* {
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
	outline: none;
	box-sizing: border-box;
}
.draggable {
	-webkit-app-region: drag;
}
.none-draggable {
	-webkit-app-region: no-drag;
}
.contrast {
	border-style: solid;
	border-width: thin;
	border-color: layout.$scheme-0;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
#container > * {
	position: fixed;
}
#titlebar {
	z-index: 1;
}
#content {
	width: 100%;
	top: layout.$titlebar-height;
	bottom: layout.$taskbar-height;
	#treeview {
		z-index: 0;
	}
	#iterable {
		z-index: -1;
	}
}
#taskbar {
	z-index: 1;
}
